body{
    background: linear-gradient(to right, #984D38, #181E41);
}

.section{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    .img{
        width: 1042px;
        height: 578.25px;
        border-radius: 11.73px;
        background-image: url(f213d567f1f6dc6b7c0072293a4ed614.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 136.82px;
        margin-left: 199px;
        .img1{
            margin-top: 233px;
            margin-left: 465px;
        }
        .img2{
            margin-top: 537px;
            margin-left: 39.78px;
        }
        // .img3{
        //     margin-top: 530.16px;
        //     margin-left: 809.57px;
        // }
        // .box-img{
        //     margin-top: 531.33px;
        //     margin-left: 895.22px;
        // }
    }
}